<?xml version="1.0" encoding="UTF-8"?>
 <GameConfiguration>
  <Graphics AntiAliasing="False" Bloom="False" Fog="False" AmbientOcclusion="False" DepthOfField="False" MotionBlur="False" ColorGrading="False" ChromaticAberration="False" UserLut="False" EyeAdaption="False" ScreenSpaceReflection="False" />
  <Network>
   <ServerAddress Value="127.0.0.1:1793" />
   <LastUsername Value="admin" />
  </Network>
 </GameConfiguration>