<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net451" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.FileSystems" version="3.1.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="2.0.2" targetFramework="net451" />
  <package id="Microsoft.Owin.Hosting" version="2.0.2" targetFramework="net451" />
  <package id="Microsoft.Owin.StaticFiles" version="3.1.0" targetFramework="net45" />
  <package id="MySql.Data" version="6.10.4" targetFramework="net451" />
  <package id="Nancy" version="1.4.4" targetFramework="net40" />
  <package id="Nancy.Authentication.Basic" version="1.4.1" targetFramework="net451" />
  <package id="Nancy.Authentication.Forms" version="1.4.1" targetFramework="net451" />
  <package id="Nancy.Authentication.Stateless" version="1.4.1" targetFramework="net451" />
  <package id="Nancy.Hosting.Self" version="1.4.1" targetFramework="net40" />
  <package id="Nancy.Serialization.JsonNet" version="1.4.1" targetFramework="net45" />
  <package id="Nancy.Viewengines.Razor" version="1.4.3" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="RazorEngine" version="3.10.0" targetFramework="net451" />
</packages>